<!DOCTYPE html>
<html>

<head>
    <title>Home - WhoCaller</title>
    <script src="static/search.js" defer></script>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="flex" id="main">
        <h1>WhoCaller</h1>
        <h2>Find out if it's a spam call</h2><br>
        <form id="form">
            <select id="ccInput">
                <% for (let c of countries) { %>
                    <option value="<%= c.cc %>" <% if (c.name=='India' ) {%> selected
                        <% }; %> >
                            <%= c.name %> (+<%= c.prefix %>)
                    </option>
                    <% } %>
            </select>
            <input type="tel" id="numinput" required placeholder="Enter number..." maxlength="15"
                title="Enter a number with atleast 3 digits" autofocus="true" autocomplete="off"
                pattern="^[0-9]{3,15}$">
            <button id="searchButton">Search</button>
        </form>
    </div>
    <div class="hide" id="error"></div>
    <div class="flex hide" id="result">
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"></svg>
        <div class="mb8" id="status"></div>
        <div class="mb8">
            <div id="query"></div>
            <div id="country"></div>
        </div>
        <div class="hide" id="spamDetails">
            <div id="spamCategory"></div>
            <div id="numReports"></div>
        </div>
    </div>
    <footer>
        <p class="footer"><a href="https://github.com/nityy/whocaller" rel=”noreferrer”>Source Code</a>
        </p>
    </footer>
</body>

</html>