footer {
    position: fixed;
    text-align: center;
    bottom: 0%;
    width: 100%;
    z-index: -10;
}

body {
    text-align: center;
    font-family: "Noto Sans", "Liberation Sans", Helvetica, sans-serif;
    background-color:#3b3a30;
    color: white;
    font-size: 17px;
}

a {
    color: #a7a7a7;
}

h2 {
    font-size:medium;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;
}

.main {
    max-width: 250px;
}

#result {
    padding-top: 30px;
}

#searchButton {
    background-color: #c0ded9;
    cursor: pointer;
    height: 30px;
    width: 100%;
    border: 3px solid;
    box-sizing: border-box;
    border-color: #c0ded9;
    font-size: 14px;
}

#searchButton:disabled {
    cursor: not-allowed
}

#numinput {
    background-color: #3b3a30;
    border: 3px solid;
    border-color: #c0ded9;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    color: white;
    text-align: center;
    font-size: 15px;
}