footer {
    position: fixed;
    text-align: center;
    bottom: 0%;
    width: 100%;
    z-index: -10;
    font-size: 15px;
}

body {
    text-align: center;
    font-family: Inter, "Helvetica Neue", Helvetica , Arial, sans-serif;
    background-color:#3b3a30;
    color: white;
    font-size: 17px;
}

a {
    color: #a7a7a7;
}

h2 {
    font-size:medium;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;
}

.main {
    max-width: 280px;
}

#result {
    padding-top: 30px;
}

#searchButton {
    background-color: #c0ded9;
    cursor: pointer;
    height: 32px;
    width: 100%;
    border: 2px solid;
    box-sizing: border-box;
    border-color: #c0ded9;
    font-size: 14px;
    border-radius: 0 0 5px 5px;
}

#searchButton:disabled {
    cursor: not-allowed
}

#numinput {
    background-color: inherit;
    border: 2px solid;
    border-bottom: 0px;
    border-top: 0px;
    border-color: #c0ded9;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    color: inherit;
    text-align: center;
    font-size: 15px;
}

#ccInput {
    background: #3b3a30;
    color: inherit;
    border: 2px solid;
    border-color: #c0ded9;
    font-size: 14px;
    width: 100%;
    outline: none;
    padding: 2px 7px;
    border-radius: 5px 5px 0 0;
}